@import './variables.scss';

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    font-weight: 600;
    font-size: 16px;
    color: $white;
    border-radius: 18px;
    background-color: $btn-color;
    transition: background-color $fast;
    
    svg {
        transition: transform $fast;
    }

    @include hover {
        svg {
            &.rightAnimation {
                transform: translateX(10px);
            }
    
            &.leftAnimation {
                transform: translateX(-10px);
            }
        }

        background-color: $btn-hover-color;
    }

}
