// colors
$white                  : #FFFFFF;
$black                  : #000000;
$background-color       : #E7F6FF;
$border-color           : #F3F3F3;
$focus-color            : #FFA500;

$header-descr-color     : #9D9D9D;
$header-price-color     : #5C5C5C;
$header-border-color    : #EAEAEA;
$card-price-color       : #BDBDBD;

$dash-color             : #DFDFDF;
$btn-color              : #9DD558;
$btn-hover-color        : #7fb043;

// transition
$fast                   : .2s;
$normal                 : .5s;


// breakpoints
$screen-sm-max          : 767px;
$screen-sm-min          : 768px;