@import '../core/variables.scss';
@import '../core/media-queryes.scss';
@import '../core/mixin.scss';

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background: rgba(0, 0, 0, .5);
    transition: opacity $fast, visibility $fast;
    overflow: hidden;

    &.visible {
        visibility: visible;
        opacity: 1;

        .cart {
            transform: translateX(0);
        }
    }
}

.cart {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 385px;
    height: 100vh;
    padding: 32px res(20, 30) 30px;
    background-color: $white;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    transition: transform $normal;
    transform: translateX(100%);

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        .action {
            width: 157px;
            margin-left: 30px;
        }
    }

    &-title {
        font-weight: 700;
        font-size: 24px;
    }

    &-wrapper {
        flex: 1;
        margin-bottom: 30px;
        overflow-y: auto;
    }

    &-empty, &-order {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;

        .title {
            margin: 21px 0 9px;
            font-size: 22px;
            font-weight: 600;
        }

        span {
            font-size: 16px;
            opacity: 0.4;
        }

        button {
            margin-top: 21px;
            
            svg {
                margin-right: 20px;
            }
        }
    }

    &-total {
        li {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            &:first-child {
                margin-bottom: 19px;
            }
        }

        span + div {
            width: 100%;
            flex: 1;
            border-bottom: 1px dashed $dash-color;
        }

        span {
            font-size: 16px;
            padding-right: 8px;
        }

        b {
            font-size: 16px;
            font-weight: 600;
            padding-left: 8px;
        }

        button {
            position: relative;
            margin-top: 24px;

            svg {
                position: absolute;
                top: 21px;
                right: 30px;
            }
        }
    }

    .product {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 30px 20px;
        margin-bottom: 20px;
        border: 1px solid $border-color;
        border-radius: 20px;

        &-title {
            margin-bottom: 8px;
        }

        &-price {
            font-weight: 700;
        }

        &-delete {
            cursor: pointer;

            svg rect {
                transition: fill $fast;
            }

            @include hover {
                rect {
                    fill: #E8E8E8;
                }
            }
        }

        &-img {
            width: 70px;
            height: 70px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    @include mobile {
        width: 100%;

        &-title {
            text-align: center;
        }

        .product-content {
            flex: 1;
            padding: 0 10px;
            text-align: center;
        }
    }

    @include desktop {
        .product-content {
            width: 150px;
        }
    }
}

.overlay.invisible {
    visibility: hidden;
    opacity: 0;
}