@import '../core/variables.scss';
@import '../core/media-queryes.scss';
@import '../core/mixin.scss';

.content {
    padding: 0 res(40, 60) 40px res(40, 60);
  
    &-header {
      margin-bottom: 30px;
    }
  
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    &-search {
      position: relative;
  
      &-icon {
        position: absolute;
        top: 13px;
        left: 16px;
      }

      &-close {
        position: absolute;
        top: 6px;
        right: 0px;
        cursor: pointer;
        transition: transform $fast;

        @include hover {
          transform: scale(1.3);
        }
      }

      input {
        padding: 13px 25px 15px 46px;
        border: 1px solid $border-color;
        border-radius: 10px;
        outline: none;
        transition: border-color $fast, box-shadow $fast;

        &:focus {
          box-shadow: 0px 0px 10px $focus-color;
        }
      }

      @include hover {
        input {
          border-color: $focus-color;
        }
      }
    }
  
    &-title {
      font-size: res(28, 32);
      font-weight: 700;
    }
  
    &-wrapper {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(auto-fit, 210px);
      grid-auto-columns: 210px;
      gap: res(20, 40);
    }

    &-loader {
      padding: 36px 30px;
      border: 1px solid $border-color;
      border-radius: 40px;
    }

    &.orders .content {

      &-wrapper {
        display: block;
      }
    }

    @include mobile() {
      &-header {
        flex-direction: column;
      }

      &-title {
        margin-bottom: 30px;
        text-align: center;
      }
    }
  }