@import 'core/reset.scss';
@import 'core/variables.scss';
@import 'core/media-queryes.scss';
@import 'core/mixin.scss';
@import 'core/buttons.scss';

@import 'blocks/header.scss';
@import 'blocks/card.scss';
@import 'blocks/content.scss';
@import 'blocks/cart.scss';
@import 'blocks/empty.scss';
@import 'blocks/order.scss';

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  background-color: $background-color;

  &.no-scroll {
    overflow: hidden;
  }
}

#root {
  padding: res(20, 85);
}

.wrapper {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  background-color: $white;
}